#parent {
    display: flex;
    align-items: center;
}   

#title {
    font-family: 'Play', sans-serif;
    font-size: 5em;
    display: flex;
    align-items: center;
    margin:'0 auto';
    padding:0px;
}

#icon {
    display:'inline-block'
}
#text {
     font-family: 'Play', sans-serif;
}


#sub-title{
    font-family: 'Play', sans-serif;
    font-size: 2em;
    display: flex;
    align-items: center;
    margin:'0 auto';
    padding:0px;
}

.yes-no-pie-container {
    position: relative;
}

.yes-no-pie {
    font-family: 'Play', sans-serif;
    font-size: 2em;
    display: inline-block;
    width: '50%';
    vertical-align: top;
}

.yes-no-pies-legend {
    font-family: 'Play', sans-serif;
    font-size: 2em;
    margin: 0 auto;
    
}

.no-votes{
    vertical-align: middle;
}



